
.icon-user:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-gplus:before { content: '\f05a'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */